{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="card-deck">
        {{ $paginator := .Paginate .Data.Pages }}
        {{ range $paginator.Pages }}
        <div class="col-lg-4 mx-auto mb-5">
          <article class="card h-100">
            {{ if .Params.image }}
            {{ $title := .Title }}
            {{ with .Resources.GetMatch .Params.image }}
            {{ $image := .Fill "770x400 smart" }}
            <img class="card-img-top" src="{{ $image.RelPermalink }}" alt="{{ $title | markdownify }}">
            {{ end }}
            {{ end }}
            <div class="card-body">
              {{ partial "article-meta.html" . }}
              <a href="{{ .Permalink }}" class="h4 d-block">{{ .Title | markdownify }}</a>
              <p class="card-text">{{ .Summary }}</p>
            </div>
            <a href="{{ .Permalink }}" class="card-footer btn btn-primary">View Post</a>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}