{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-8 mx-auto mb-5">
        <article class="card rounded-0 border-0">
          {{ if .Params.image }}
          {{ $title := .Title }}
          {{ with .Resources.GetMatch .Params.image }}
          {{ $image := .Fill "770x400 smart" }}
          <img src="{{ $image.RelPermalink }}" alt="{{ $title | markdownify }}" class="card-img-top rounded-top-0">
          {{ end }}
          {{ end }}
          <div class="card-body px-0">
            <a href="{{ .Permalink }}" class="h4 d-block">{{ .Title | markdownify }}</a>
            {{ partial "article-meta.html" . }}
            <p>{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="btn btn-sm btn-outline-primary">Read More</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}