{{ define "main" }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <article>
          <h2>{{ .Title }}</h2>
          {{ partial "article-meta.html" . }}
          {{ if .Params.image }}
            {{ $title := .Title }}
            {{ with .Resources.GetMatch .Params.image }}
              {{ $image := .Fill "770x400 smart" }}
              <img src="{{ $image.RelPermalink }}" alt="{{ $title }}" class="img-fluid w-100 mb-4">
            {{ end }}
          {{ end }}
          <div class="content">
            {{.Content}}
          </div>
          {{ with .Params.tags }}
          <footer>
            <ul class="list-inline mb-3">
              {{ range . }}{{ $urlValue := replace . " " "-" | lower}}{{ with $.Site.GetPage (printf "/tags/%s" $urlValue) }}<li class="list-inline-item"><a class="badge bg-light text-muted" href="{{ .Permalink }}">#{{ .Title }}</a></li>{{ end }}{{ end }}</li>{{ end }}
            </ul>
          </footer>
        </article>
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</section>

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}