{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto mb-5">
        {{ if eq .Kind "taxonomy" }}
          {{ if eq .Type "categories" }}
            {{ partialCached "categories" . }}
          {{ else if eq .Type "tags" }}
            {{ partialCached "tags" . }}
          {{ end }}
        {{ else }}
          {{ partial "post-list" . }}
        {{ end }}
    </div>
  </div>
</section>

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}