{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>If you have any queries please do not hesitate to contact me.</p>
        <form name="contact" action="{{ site.Params.contact.formAction }}" method="POST" netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-netlify="true">
          <p class="d-none">
            <label>Don't fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject" name="subject" required>
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="10" id="message" name="message" required></textarea>
          </div>
          <div class="form-group">
            <div data-netlify-recaptcha="true"></div>
          </div>
          <button type="submit" class="btn btn-block btn-outline-primary rounded">Submit</button>
        </form>
      </div>
      <div class="col-sm">
        <ul class="list-unstyled">
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i>Currently based in {{ site.Params.location }}.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}