{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>If you have any queries please do not hesitate to contact me.</p>
        <form name="contact" action="{{ site.Params.contact.formAction }}" method="POST" netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-netlify="true">
          <p class="d-none">
            <label>Don't fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <input type="text" class="form-control mb-2" name="name" placeholder="Your name" required>
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your email" required>
          <textarea name="message" id="message" class="form-control mb-2" placeholder="Your message" required></textarea>
          <div data-netlify-recaptcha="true"></div>
          <button type="submit" value="Submit" class="btn btn-block btn-outline-primary rounded">Submit</button>
        </form>
      </div>
      <div class="col-sm">
        <ul class="list-unstyled">
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i>Currently based in {{ site.Params.location }}.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}